body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

// =============================================================================
// primary colors
// -----------------------------------------------------------------------------

$color-white: #fff;

$color-black: #333;

$color-red: #ff3b1b;

$color-blue: #39a5ed;

$color-gray-light: #f6f6f6;
$color-gray-mid: #ebebeb;
$color-gray-dark: #d3d3d3;