<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>查看文章</h2>
	<table border="1px">
		<tr>
			<td>AID</td>
			<td>标题</td>
			<td>类型</td>
			<td>时间</td>
			<td>操作</td>
		</tr>

		<?php foreach($article as $v): ?>	
		<tr>
			<td><?php echo $v['ID'] ?></td>
			<td><?php echo $v['title'] ?></td>
			<td><?php echo $v['type'] ?></td>
			<td><?php echo $v['time'] ?></td>
			<td>
				[<a href="##">编辑</a>]
				[<a href="##">删除</a>]
			</td>
		</tr>
	<?php endforeach ?>
	</table>
</body>
</html>