.c-portion {
	&__head {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&__blog-pic1 {
		margin-top: 30px;
		position: relative;
	}

	&__blog-pic2 {
		margin-top: 88px;
		position: absolute;
		right: 120px;
		top: 0;
	}

	&__description {
		padding-top: 110px;
	}

	&__photo-wrap {
		// background: url('../../dist/img/photo.png');
	}

	&__photo {
		height: 280px;
		margin: 10px 0;
	}

	&__photo-pic {
		height: 180px;

		background: url('../../dist/img/pic-demo.jpg') no-repeat;
		background-size: cover;
	}

	&__photo-layer {
		height: 100%;

		background: $color-black;
		opacity: 0;
		transition: all .5s;
		&:hover {
			opacity: 1;
			background: rgba(0,0,0,0.7);
		}
	}

	&__photo-title {
		width: 100%;
		display: inline-block;

		text-align: center;
	}

	&__slider {
		height: 300px;
		margin-bottom: 80px;
	}

	&__contact {
		background: url('../../dist/img/map-bg.jpg')no-repeat;
		background-size: cover;
	}

	&__contact-cover {
		padding-top: 30px;
		height: 100%;
		background: rgba(0,0,0,0.7);
	}

	&__contact-text {

		color: white;
	}

	&__contact-letter {
		padding-left: 15px;
	}

	&__input {
		margin-bottom: 20px;
	}

	&__input-child {
		border-radius: 2px;
	}

	&__submit {
		border: 2px solid $color-blue;
		background: $color-blue;

		transition: all .5s;
		&:hover {
			background: transparent;
			border: 2px solid $color-white;
			color: $color-white;
		}
	}

	//the style for swiper
	.swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: pink;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-button-prev, .swiper-button-next {
    	opacity: 0.3;
    }

    .swiper-pagination {
    	opacity: 0.4;
    }
}